<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G's Cat Cafe</title>
</head>
<body>
    <h1>Welcome to Gabe's cat cafe</h1>
    <a href="/cats">Browse all cats</a>
    <a href="/cats/new">Adopt New Cat</a>
</body>
</html>