<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cats/<%= cat._id %>?_method=PUT" method="POST">
        <label for="name">What is their name? </label>
        <input type="text" name="name" id="name" value="<%= cat.name %>" />
    
        <label for="age">How old are they?</label>
        <input type="text" name="age" id="age" value="<%= cat.age %>" />
  
        <Label for="gender">Is your cat a...</Label>
        
        <select name="gender" id="gender"> 
          <option value="Boy">Boy</option>
          <option value="Girl">Girl</option>
          <option value="Other">Unknown/Other</option>
        </select>   
  
        <label for="image">Link a picture of your cat!</label>
        <input type="text" name="image" id="image" value="<%= cat.image %>" />
        
        <button type="submit">Edit cat! =^_^=</button>
    </form>
</body>
</html>